<!DOCTYPE html>
<html>
<head>
	<title>Contacto</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        footer {
      		background-color: #C0C0C0;
            padding: 25px;
        }
        .link{
            text-align: center;
            font-size: 25px;
            box-shadow: inherit;
        }
    </style>
</head>

<body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Vertedero</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/">Inicio</a></li>
        <li><a href="/intereses">Textos Inconclusos</a></li>
        <li class="active"><a href="/contacto">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
<h1>Hola soy juan.</h1>
<h2>Bueno, eso, un placer, puedes encontrarme en... pues en los links de abajo.</h2>

 </div>
</div>
<div class="link">
 <a href="https://www.facebook.com/juan.j.ramosgarcia/">Mi facebook, más muerto que mis ganas de tener facebook</a><br>
<a href="https://twitter.com/juanjose1G">Mi Twitter, no me hago responsable por lo que podrías encontrar</a><br>
<a href="https://github.com/OverlordJ-J">Mi Repositorio de GitHub, cosa interesantes y eso</a><br>
<a href="https://www.linkedin.com/in/juan-josé-ramos-garcía-b3a921209/">Mi linkedln, por si me queres contrar</a><br>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Mi tinder, hombre el intento se hace.</a><br>
</div>
</body>
</html>