<!DOCTYPE html>
<html>
<head>
	<title>Intereses</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
      		background-color: #C0C0C0;
            padding: 25px;
        }
        .terms {
  		display: flex;
		}

		.terms > p {
  		margin: 0;
		}
        p.cont{
        	border : solid 2px #000000;
            background : #FFFFFF;
            color : #000000;
            padding : 4px;
            width : 300px;
            height : 250px;
        	overflow: auto;
        }

    </style>
</head>

<body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Vertedero</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/">Inicio</a></li>
        <li class="active"><a href="/intereses">Textos Inconclusos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Textos - Malos - Con ganas de llorar</h1>
            <p>Okey, aqui vamos bebé, pido disculpas de antemano.</p>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Cosas que he escrito</h3><br>
        <div class="row">
            <div class="col-sm-3">
                <p style="font-size: 25px">Desnudez</p>
                <p class="cont">
                    Me mostró todo.

Hace unos cuantos años, meses o incluso semanas, si alguien hubiera estado frente a mi con tanta vulnerabilidad tratado como ella lo hizo, mostrado su desnudez
 y sensualidad a tan flor de piel, estoy seguro que simplemente lo habría hecho, sin pensarlo habría aceptado su cuerpo como un simple trozo de carne, como un 
objeto de satisfacción frío y banal, sin dudarlo lo habría tomado y lo habría hecho mío sin siquiera pensar en las consecuencias, habría tomado por completo cada 
una las intenciones y las habría hecho mías, sin contemplar que estaba pasando del otro lado, porqué no me importaba en lo mínimo, la otra persona podría estar 
gritando por dentro y sufriendo en silencio demostrando con una mirada distante, pero me habría dado igual, ¿Y por que habría de importarme?, me dio la oportunidad 
de tomarla, de unirme a su cuerpo frío con necesidad de sentir algo, pero ¿Y que cambio? ... Era la misma situación, que pudo haber cambiado tan rápido dentro de mi 
para no sucumbir a una tentativa tan grande que no podía ser tan simple, o acaso ¿Cambió la forma en la que lo hizo?, podría maquinar mil y un excusas, incluso la 
tonta que utilice en ese momento, podría decir que soy un caballero y contar de mil y un maneras que acto tan especial podría caer en un mil instantes e intentos 
diferentes, pero claramente no fue por eso, no soy en lo mínimo una buena persona, remembranzas de mis putas tristes de las almas que manche de las vidas que poseen
 trozos de mi horrible historia pueden corroborar que en una situación similar el resultado debió ser diferente, debí... O no, no tengo ni idea de qué significa 
sentir lo que siento, es la primera vez que sucede lo que deseo pero no puedo tomar más de lo que necesito, es decir, podría haber sido igual y omitir cada una de 
las sensaciones que me detuvieron, tomar lo más fuerte posible cada una de sus intenciones y convertir todo lo que sea en un simple trozo de masa inerte dejar de lado
 todos los gritos de su interior, ignorar cada una de esas lágrimas y embestir sin dudar, al final lo hice ya tantas veces que ¿Que importaría una más?. 
Pero no lo hice, era tan fácil continuar y tan difícil parar, pero, pare, tome el camino difícil, yo, un fiel seguidor de la ley del mínimo esfuerzo, es decir, 
soy una persona practica... Claro que sé que el mejor camino siempre es el más fácil de ejecutar para un resultado óptimo, que putas sucedió, 
¿Estaré dañado o algo por el estilo?. 
Quiero, necesito, deseo, quiero o necesito o deseo, quiero y necesito y deseo, porque esas palabras me parecen tan diferentes ahora, 
¿Siempre tuvieron la connotación tan efímera?, ¿por que parece que el mundo cambió el rumbo? , ¿tanto cambió desde entonces?
Quería tomarla. 
Necesitaba protegerla. 
Y deseaba que ella fuera feliz.
                </p>
            </div>
            <div class="col-sm-3">
                <p style="font-size: 25px">Ojala</p>                
                <p class="cont">
                    Ojalá.
Ojalá saber donde te encuentras ahora, ojalá poder correr tan rápido como el viento, ojalá ser tan libre como un animal salvaje, 
ojalá tener las respuestas que busco, ojalá ser más capaz de afrontar mis culpas, ojalá no necesitar de los demás, 
ojalá poder alejarme de todo, ojalá poder tomar decisiones sin analizar tanto, ojalá haber podido salvarte en aquel entonces, 
ojalá haber estado en aquel entonces, ojalá que los días durarán más, ojalá poder dormir tranquilo, ojalá tener tiempo suficiente para todo, 
ojalá terminar todo lo que empiezo, ojalá no tener tanto miedo, ojalá que el pasado nunca me recuerde, ojalá que a quien dañe me perdone, 
ojalá que nada de lo que paso hubiera pasado, ojalá me recuerdes como yo a ti, ojalá que puedas hacer todo lo que te propongas, 
ojalá que si regresas ahora sepas lo que quieres, ojalá que mañana sea mejor, ojalá que las personas que me rodean jamás me odien, 
ojalá que yo no me odiará, ojalá que la obscuridad no me llamara tanto, ojalá que la distancia entre mis suspiros fuese más larga, 
ojalá no sentir tanto, ojalá poder seguir mis propios pasos, ojalá nunca volver a fallar, ojalá nunca perder el camino de vuelta, 
ojalá nunca perder mi plan b, ojalá pudiera continuar, ojalá tener los huevos para disparar, ojalá no desear tanto disparar.
                </p>
            </div>
            <div class="col-sm-3">
                <p style="font-size: 25px">Romanticismo barato</p>               
                <p class="cont">
                   Me gusta que mi café sea un poco amargo y con un fuerte sabor a realidad, pero también me gusta tener la posibilidad de poder vertir un poco de azúcar y disfrutarlo, 
el trabajo de mi café no es solo su función natural de inhibidor del sueño pesado en las mañanas después de una larga noche de trabajo o desvelo estúpido, 
que siendo sincero la segunda es lo que podríamos catalogar como mi modus operandi de casi a diario, que no me arrepiento de nada pero se que mi ruina vendrá 
de la mano de mil y un cosa provenientes de mis malos hábitos, esta bien o eso creo, puedo pagar el precio por esas largas noches interminables de 
fructífera agonía reflexiva del infinito mar de posibles posibilidades, de noches de invierno, frías y obscuras donde mis ojos puede ver más de lo que el espectro
de colores visibles ofrece, o esas noches de verano, cálidas y apacibles donde el mínimo esfuerzo de conciliar el sueño resulta en una búsqueda sempiterna 
por el lado más viable de la almohada, aunque que al final que más da, podría divagar por los parajes de la vida eterna o los misterios de la mente, 
el universo o el porqué de la música con horrible letra y melodías pegajosas, en fin preguntas sin respuestas como el porque comencé a escribir de café 
si necesitaba escribir sobre mis sentimientos, eh ahí otro de mis tontos hábitos las analogías baratas que buscan explicar algo que incluso un neófito
de la vida a vivido, y con eso volvemos al tema principal, me gusta tener opciones, digamos que soy como mi café quiero tener un propósito real, 
pero igual quiero ser alguien a quien otro alguien acuda en busca de no solo lo que ofrece si no de ese algo más, ese extra de "tomar café por gusto".
Quiero tener posibilidades, o es creo.
                </p>
            </div>
            <div class="col-sm-3">
                <p style="font-size: 25px">Cuento corto gota de rocio</p>               
                <p class="cont">
                    Hace un tiempo, en algún lugar donde terminaban a romper olas, había una pequeña gota de rocío posada sobre una flor,y decidió que no quería seguir siendo quien era,
 decidió que estaba cansada de dejar que otros entes la vieran con esa mirada de compasión y superioridad, decidió que estaba preparada para dejar que su destino
 se forjara, decidió dejar atrás de sí misma todo lo que la ataba, decidió olvidar todo lo que le hacía ser quien era, decidió, rodó lentamente por esa hoja
 que la había sostenido por tanto y resbaló en un giro tan perfecto que podría haber terminado todo, pero no, su meta, caer en el basto océano, 
su objetivo primordial fue llegar a formar parte de todo lo que alguna vez añoro, pero no, olvidó que sólo era una simple gota de rocío posada sobre una simple flor,
 no era especial, no podía simplemente soñar con que todo saldría bien, pero no, no lo logró, olvidó todo incluso lo pequeña que había sido,
 la gota de rocío posada sobre una flor rozó el viento a una velocidad ínfima, pero ella era un simple gota de rocío, se difuminó en él,
 tan lento como caía, despareció, se fue, no volverá, lo arruinó todo, pagó el precio por su decisión.
Pero, ¿Valió la pena?, que carajos importa ahora, fue libre para decidir. Creo que fue suficiente para ella, pero, ¿Por que no es suficiente para ti?
                </p>
            </div>
        </div>
    </div><br>
    </div><br><br>
    <footer class="container-fluid text-left">
    	                <div class="terms">
    	                <a class="terms" href="https://youtube.com/playlist?list=PLmIlh0GrzCqVGblMTEaqyjaqAtBi8pJsr">Tengo listas de cancioncillas</a><br>
    	                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLmIlh0GrzCqVGblMTEaqyjaqAtBi8pJsr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<a href="https://youtube.com/playlist?list=PLmIlh0GrzCqWu7aVaOkN4yWpOvaBsXo3x">Tengo listas de cancioncillas</a><br>
    	                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLmIlh0GrzCqWu7aVaOkN4yWpOvaBsXo3x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    	                </div>

</footer>

</body>
</html>